@model List<ContactManagerApp.Core.Contact>


<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>List of Contacts</h1>
    <a asp-action="AddContact" asp-controller="Home">Add New Contact</a>
    <br /><br />
    <table border="1" cellpadding="10">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td><a asp-action="DeleteContact" asp-controller="Home" asp-route-id="@item.Id">Delete</a></td>
            </tr>
        }
    </table>
</body>
</html>